# Core
numpy
pandas
scipy

# Machine Learning / DL
scikit-learn
xgboost
lightgbm
flaml
torch
tensorflow
imbalanced-learn

# Data Visualization
matplotlib
seaborn
plotly

# Utilities
joblib
pytest
tqdm
python-dotenv

# Database / API
sqlalchemy
pymongo
requests

# Experiment Tracking
mlflow
prefect
