# Core
numpy
pandas
scipy

# Machine Learning
scikit-learn
xgboost
lightgbm
flaml

# Data Visualization
matplotlib
seaborn
plotly

# Utilities
joblib
pytest
tqdm
python-dotenv

# Database / API
sqlalchemy
pymongo
requests

# Experiment Tracking
mlflow
prefect
